@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(59, 57, 57);
    color: white;
}

span{
    color: rgb(185, 79, 79);
}

header{
    display: inline-flex;
}

h1{
    padding: 5px;
    margin: 5px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

header > p{
    text-align: end;
    padding: 5px;
    margin: 9px;
}

#image{
    display:block;
    margin: auto;
    padding: 20px 0px;
    width: 200px;
    border-radius: 50%;
}

h2{
    color: rgb(185, 79, 79);
    padding: 0px 20px;
    margin: 5px;
    text-decoration: underline;
}

p.sobre{
    text-align: center;
    padding: 10px;
    margin: auto;
}

h3{
    text-align: center;
    margin: 10px;
    color: rgb(189, 177, 177);
}

.img{
    display:block;
    margin: auto;
    padding: 20px 0px;
    width: 200px;
}

.p{
    padding: 10px;
}

ul{
    padding-left: 50px;
    margin: 10px;
}

a.linkproj{
    padding: 10px;
    text-decoration: none;
    color: white;
    
}

a.linkproj:hover{
    text-decoration: underline;
    color: blue;
}